# Ignore Gradle project-specific cache directory
.gradle
.idea
.nextflow*

# Ignore Gradle build output directory
build
work
out
buildSrc/build
buildSrc/.gradle
plugins/nf-hello/.nextflow
plugins/nf-hello/build
