plugins {
  id 'nf-jarvice@0.5.0'
}
process {
    executor = 'jarvice'
    apiUrl = 'https://jarvice-development-api.jarvicedev.com'
    machineType = 'n0'
    cpus = 4
    vault {
        name = 'persistent'
        readonly = false
        force = false
    }
    user {
        username = 'bleveugle'
        apikey = '01df8e1aeb9e4b929aa84bf6c3150559093b43a9'
    }
}

